{{ template "Content" . }}

{{ define "Content" }}
<div id="collection_details" class="max-w-[85rem] mx-auto" hx-get="{{ .Path }}" hx-trigger="every 2s">
    {{ template "BreadCrumbs" .}}
    {{ template "PageTitlesWithStatus" . }}
    {{ template "CollectionView" . }}
    <div class="max-w-[85rem] px-4 py-1 sm:px-6 lg:px-8 lg:py-1 mx-auto">
        <div class="border-b border-gray-200"></div>
        <h3 class="mt-8 text-xl text-gray-800 font-bold dark:text-gray-400">Indexing</h3>
    </div>
    {{ template "IndexStatus" . }}
    <div class="max-w-[85rem] px-4 py-1 sm:px-6 lg:px-8 lg:py-1 mx-auto">
        <div class="border-b border-gray-200"></div>
        <h3 class="mt-8 text-xl text-gray-800 font-bold dark:text-gray-400">Danger</h3>
    </div>
    {{ template "DeleteCollection" . }}
</div>
{{ end }}

{{ define "PageTitlesWithStatus" }}
<div class="overflow-auto">
    <div class="flex justify-start items-start">
        {{ template "PageTitles" . }}
        <div class="mt-6">
            {{ if eq .Data.DocumentEmbeddedCount .Data.DocumentCount }}
            {{ template "StatusReadyLabel" . }}
            {{ else }}
            {{ template "StatusEmbeddingLabel" . }}
            {{ end }}
        </div>
    </div>
</div>
{{ end }}

{{ define "CollectionView" }}
<!-- Data Card Section -->
<div class="max-w-[85rem] px-4 py-10 sm:px-6 lg:px-8 lg:py-14 mx-auto">
    <!-- Grid -->
    <div class="grid sm:grid-cols-2 lg:grid-cols-4 gap-4 sm:gap-6">
        <!-- Card -->
        <div class="flex flex-col bg-white border shadow-sm rounded-xl dark:bg-gray-200 dark:border-gray-800">
            <div class="p-4 md:p-5">
                <div class="flex items-center gap-x-2">
                    <p class="text-xs uppercase tracking-wide text-gray-500">
                        Embedding Strategy
                    </p>
                </div>

                <div class="mt-2 flex items-center">
                    {{ if .Data.IsAutoEmbedded }}
                    <span
                        class="inline-flex items-center gap-1.5 py-1.5 px-3 rounded-full text-xs font-medium bg-blue-100 text-blue-800">
                        Auto-Embed
                    </span>
                    {{ else }}
                    <span
                        class="inline-flex items-center gap-1.5 py-1.5 px-3 rounded-full text-xs font-medium bg-yellow-100 text-yellow-800">
                        Self-Embed
                    </span>
                    {{ end }}
                </div>
            </div>
        </div>
        <!-- End Card -->

        <!-- Card -->
        <div class=" flex flex-col bg-white border shadow-sm rounded-xl dark:bg-gray-200 dark:border-gray-800">
            <div class="p-4 md:p-5">
                <div class="flex items-center gap-x-2">
                    <p class="text-xs uppercase tracking-wide text-gray-500">
                        Documents
                    </p>
                </div>

                <div class="mt-1 flex items-center">
                    <h3 class="text-xl sm:text-2xl font-medium text-gray-800 ">
                        {{ CommaInt (.Data.DocumentCount | int64) }}
                    </h3>

                </div>
            </div>
        </div>
        <!-- End Card -->

        <!-- Card -->
        <div class="flex flex-col bg-white border shadow-sm rounded-xl dark:bg-gray-200 dark:border-gray-800">
            <div class="p-4 md:p-5">
                <div class="flex items-center gap-x-2">
                    <p class="text-xs uppercase tracking-wide text-gray-500">
                        Embeddings
                    </p>
                    {{ template "Tooltip" `The number of documents with embedding vectors. 
                    If this number remains less than the total number of documents, 
                    you may have an issue with auto-embedding. Please review your Zep logs.` }}          
                </div>

                <div class="mt-1 flex items-center">
                    <h3 class="text-xl sm:text-2xl font-medium text-gray-800 ">
                        {{ CommaInt (.Data.DocumentEmbeddedCount | int64) }}
                    </h3>
                    {{ if ne .Data.DocumentEmbeddedCount .Data.DocumentCount }}
                    <span class="flex items-center text-red-600 pl-3">
                        <span class="inline-block text-sm">
                            {{ Percent .Data.DocumentEmbeddedCount .Data.DocumentCount }}% complete
                        </span>
                    </span>
                    {{ end }}
                </div>
            </div>
        </div>
        <!-- End Card -->

        <!-- Card -->
        <div class="flex flex-col bg-white border shadow-sm rounded-xl dark:bg-gray-200 dark:border-gray-800">
            <div class="p-4 md:p-5">
                <div class="flex items-center gap-x-2">
                    <p class="text-xs uppercase tracking-wide text-gray-500">
                        Embedding Width
                    </p>
                </div>

                <div class="mt-1 flex items-center">
                    <h3 class="text-xl sm:text-2xl font-medium text-gray-800 ">
                        {{ CommaInt (.Data.EmbeddingDimensions | int64) }}
                    </h3>
                </div>
            </div>
        </div>
        <!-- End Card -->
    </div>
    <!-- End Grid -->
</div>
<!-- End Data Card Section -->

{{ end }}


{{ define "IndexStatus" }}
{{ $disableIndexButton := and .Data.IsIndexed (eq .Data.IndexType "hnsw") }}
<!-- Card Section -->
<div class="px-4 py-5 sm:px-6 lg:px-8 lg:py-7 mx-auto">
    <!-- Card -->
    <div class="bg-white rounded-xl shadow p-4 sm:p-7 dark:bg-gray-200">
        <div class="flex items-start gap-x-6 my-2">
            <div class="text-sm text-gray-800 font-bold w-20">
                Status
            </div>
            <div class="flex items-center space-x-4">
                <span>{{ .Data.IsIndexed | ternary "Indexed" "Not Indexed" }}</span>
                <span>{{ template "Tooltip" `Force Index only available for IVFFLAT indexes when indexed.` }}</span>
            </div>
            
        </div>
        <div class="flex items-start gap-x-6 my-2">
            <div class="text-sm text-gray-800 font-bold w-20">
                Type
            </div>
            <div>{{ .Data.IndexType | toString | upper }}</div>
        </div>

        <div class="mt-6">
            <button type="button" hx-confirm="Are you sure you want to index this collection?" disabled="{{ $disableIndexButton }}"
                hx-get="{{ .Path }}/index" hx-target="#page-content"
                class="{{ if $disableIndexButton }}cursor-not-allowed opacity-50{{ end }} py-3 px-4 inline-flex justify-center items-center gap-2 rounded-md border border-transparent font-semibold bg-blue-500 text-white hover:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-offset-2 transition-all text-sm dark:focus:ring-offset-gray-800">
                Force Index Collection
            </button>
        </div>
    </div>
</div>
{{ end }}

{{ define "DeleteCollection" }}
<!-- Card Section -->
<div class="px-4 py-5 sm:px-6 lg:px-8 lg:py-7 mx-auto">
    <!-- Card -->
    <div class="bg-white rounded-xl shadow p-4 sm:p-7 dark:bg-slate-900">
        <button type="button" hx-confirm="Are you sure you want to delete this collection?" hx-delete="{{ .Path }}"
            hx-target="#page-content"
            class="py-3 px-4 inline-flex justify-center items-center gap-2 rounded-md bg-red-100 border border-transparent font-semibold text-red-500 hover:text-white hover:bg-red-500 focus:outline-none focus:ring-2 ring-offset-white focus:ring-red-500 focus:ring-offset-2 transition-all text-sm dark:focus:ring-offset-gray-800">
            Delete Collection
        </button>
    </div>
</div>
{{ end }}