{{ template "Content" . }}

{{ define "Content" }}
<div id="sessions" class="max-w-[85rem] mx-auto">
    {{template "BreadCrumbs" .}}
    {{ template "PageTitles" . }}
    {{ template "SessionDetails" . }}
    {{ template "ChatHistory" . }}
    <div class="max-w-[85rem] px-4 py-1 sm:px-6 lg:px-8 lg:py-1 mx-auto">
        <div class="border-b border-gray-200"></div>
        <h3 class="mt-8 text-xl text-gray-800 font-bold dark:text-gray-400">Danger</h3>
    </div>
    {{ template "DeleteSession" . }}
</div>
{{ end }}

{{ define "SessionDetails" }}
<div class="px-4 py-3 sm:px-6 lg:px-8 lg:py-7 mx-auto overflow-hidden">
    <!-- Card -->
    <div class="flex flex-col">
        <div class="-m-1.5 overflow-x-auto">
            <div class="p-1.5 min-w-full inline-block align-middle">
                <div
                    class="bg-white border border-gray-200 rounded-xl shadow-sm overflow-hidden dark:bg-gray-200 dark:border-gray-700">
                    <div class="max-w-[85rem] px-4 py-4 sm:px-6 lg:px-8 lg:py-8 mx-auto">
                        <p class="text-sm">Created: {{ .Data.Session.CreatedAt.Format "2006-01-02 15:04:05" }} 
                            <span class="px-3">|</span> Updated: {{ .Data.Session.UpdatedAt.Format "2006-01-02 15:04:05"}} 
                        </p>
                    </div>
                    <div class="grow flex mx-8 mb-8">
                        <!-- Card -->
                        <div
                            class="inline-block border-gray-200 border rounded-lg p-4 shadow-sm flex-grow max-h-60">
                            <p class="text-xs font-light mb-4 ">
                                Metadata
                            </p>
                            <!-- Metadata -->
                            <div class="pl-6 text-xs max-h-44 overflow-y-auto">
                                {{ if .Data.Session.Metadata }}
                                    {{ ToJSON .Data.Session.Metadata }}
                                {{ else }}
                                    <p class="text-sm">No metadata</p>
                                {{ end }}
                            </div>
                            <!-- End Metadata -->
                        </div>
                        <!-- Card End -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Card -->
</div>
{{ end }}

{{ define "DeleteSession" }}
<!-- Card Section -->
<div class="px-4 py-5 sm:px-6 lg:px-8 lg:py-7 mx-auto">
    <!-- Card -->
    <div class="bg-white rounded-xl shadow p-4 sm:p-7 dark:bg-slate-900">
        <button type="button" 
            hx-confirm="Are you sure you want to delete this session?" hx-delete="{{ .Path }}" hx-target="#page-content"
            class="py-3 px-4 inline-flex justify-center items-center gap-2 rounded-md bg-red-100 border border-transparent font-semibold text-red-500 hover:text-white hover:bg-red-500 focus:outline-none focus:ring-2 ring-offset-white focus:ring-red-500 focus:ring-offset-2 transition-all text-sm dark:focus:ring-offset-gray-800">
            Delete Session
        </button>
    </div>
</div>
{{ end }}