{{ template "Content" . }}

{{ define "Content" }}
<div id="settings" class="max-w-[85rem] mx-auto">
    {{template "BreadCrumbs" .}}
    {{ template "PageTitles" . }}
    <div class="px-4 py-5 sm:px-6 lg:px-8 lg:py-7 mx-auto">
        <!-- Card -->
        <div class="bg-white rounded-xl shadow p-4 sm:p-7 dark:bg-gray-200">
            <div class="pl-10 py-10 text-xs max-h-[40rem] overflow-y-scroll">
                {{ .Data.ConfigHTML }}
            </div>
        </div>
    </div>
</div>
{{ end }}