{{ template "Content" . }}

{{ define "Content" }}
<div id="users_details" class="max-w-[85rem] mx-auto">
    {{ template "BreadCrumbs" .}}
    {{ template "PageTitles" . }}
    {{ template "UserDetailsForm" . }}
    <div class="max-w-[85rem] px-4 py-1 sm:px-6 lg:px-8 lg:py-1 mx-auto">
        <div class="border-b border-gray-200"></div>
        <h3 class="mt-8 text-xl text-gray-800 font-bold dark:text-gray-400">Sessions</h3>
    </div>
    {{ template "SessionTable" . }}
    <div class="max-w-[85rem] px-4 py-1 sm:px-6 lg:px-8 lg:py-1 mx-auto">
        <div class="border-b border-gray-200"></div>
        <h3 class="mt-8 text-xl text-gray-800 font-bold dark:text-gray-400">Danger</h3>
    </div>
    {{ template "DeleteUser" . }}
</div>
{{ end }}

{{ define "DeleteUser" }}
<!-- Card Section -->
<div class="px-4 py-5 sm:px-6 lg:px-8 lg:py-7 mx-auto">
    <!-- Card -->
    <div class="bg-white rounded-xl shadow p-4 sm:p-7 dark:bg-slate-900">
        <button type="button" 
            hx-confirm="Are you sure you want to delete this user?" hx-delete="{{ .Path }}" hx-target="#page-content"
            class="py-3 px-4 inline-flex justify-center items-center gap-2 rounded-md bg-red-100 border border-transparent font-semibold text-red-500 hover:text-white hover:bg-red-500 focus:outline-none focus:ring-2 ring-offset-white focus:ring-red-500 focus:ring-offset-2 transition-all text-sm dark:focus:ring-offset-gray-800">
            Delete User
        </button>
    </div>
</div>
{{ end }}