llm:
  # gpt-3.5-turbo or gpt-4
  model: "gpt-3.5-turbo"
nlp:
  server_url: "http://localhost:8080"
memory:
  message_window: 12
extractors:
  summarizer:
    enabled: true
  entities:
    enabled: true
  intent:
    enabled: true
  embeddings:
    enabled: true
    dimensions: 1536
    model: "AdaEmbeddingV2"
#    dimensions: 768
#    model: "local"
memory_store:
  type: "postgres"
  postgres:
    dsn: "postgres://postgres:postgres@localhost:5432/?sslmode=disable"
server:
  port: 8000
auth:
  # Set to true to enable authentication
  required: false
  # Do not use this secret in production. The ZEP_AUTH_SECRET environment variable should be
  # set to a cryptographically secure secret. See the Zep docs for details.
  secret: "do-not-use-this-secret-in-production"
log:
  level: "info"