{{ define "CollectionTableHeader" }}
<div
    class="px-6 py-4 grid gap-3 md:flex md:justify-between md:items-center border-b border-gray-200 dark:border-gray-700">
    <div>
        <div class="inline-flex gap-x-2">
            <a class="py-2 px-3 inline-flex justify-center items-center gap-2 rounded-md border border-transparent font-semibold bg-blue-500 text-white hover:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-offset-2 transition-all text-sm dark:focus:ring-offset-gray-800"
                href="#">
                <svg class="w-3 h-3" xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16"
                    fill="none">
                    <path d="M2.63452 7.50001L13.6345 7.5M8.13452 13V2" stroke="currentColor" stroke-width="2"
                        stroke-linecap="round" />
                </svg>
                Add
            </a>
        </div>
    </div>
</div>
{{end}}

{{ define "CollectionTHead" }}
<thead class="bg-gray-50 dark:bg-slate-800">
    <tr>
        <th scope="col" class="pl-6 lg:pl-8 xl:pl-8 pr-6 py-3 text-left">
            <div class="flex items-center gap-x-2">
                <span class="text-xs font-semibold uppercase tracking-wide text-gray-800 dark:text-gray-200">
                    Collection
                </span>
            </div>
        </th>
        <th scope="col" class="px-6 py-3 text-left">
            <div class="flex items-center gap-x-2">
                <span class="text-xs font-semibold uppercase tracking-wide text-gray-800 dark:text-gray-200">
                    Created
                </span>
            </div>
        </th>
        <th scope="col" class="px-6 py-3 text-left">
            <div class="flex items-center gap-x-2">
                <span class="text-xs font-semibold uppercase tracking-wide text-gray-800 dark:text-gray-200">
                    Documents
                </span>
            </div>
        </th>
        <th scope="col" class="px-6 py-3 text-left">
            <div class="flex items-center gap-x-2">
                <span class="text-xs font-semibold uppercase tracking-wide text-gray-800 dark:text-gray-200">
                    Embedding Width
                </span>
            </div>
        </th>
        <th scope="col" class="px-6 py-3 text-left">
            <div class="flex items-center gap-x-2">
                <span class="text-xs font-semibold uppercase tracking-wide text-gray-800 dark:text-gray-200">
                    Embedding Status
                </span>
            </div>
        </th>
        <th scope="col" class="px-6 py-3 text-right"></th>
        <th scope="col" class="px-6 py-3 text-right"></th>
    </tr>
</thead>
{{ end }}

{{ define "CollectionTableRow" }}
<tr hx-boost="true" hx-target="#page-content">
    <!-- CollectionID & Name -->
    <td class="h-px w-px whitespace-nowrap">
        <div class="pl-6 lg:pl-8 xl:pl-8 pr-6 py-3">
            <div class="flex items-center gap-x-3">
                <div class="grow">
                    <a href="{{ .Path }}/{{ .Collection.Name }}">
                        <span class="block text-sm font-semibold text-gray-800 dark:text-gray-200">{{ .Collection.Name
                            }}</span>
                        <span class="block text-sm text-gray-500">{{ .Collection.Description }}</span>
                    </a>
                </div>
            </div>
        </div>
    </td>
    <!-- End CollectionID & Name -->
    <!-- CreatedAt -->
    <td class="h-px w-px whitespace-nowrap">
        <div class="px-6 py-3">
            <span class="text-sm text-gray-500">{{ .Collection.CreatedAt.Format "2006-01-02 15:04:05" }}</span>
        </div>
    </td>
    <!-- End CreatedAt -->
    <!-- Email -->
    <td class="h-px w-px whitespace-nowrap">
        <div class="px-6 py-3">
            <span class="text-sm text-gray-500">{{ CommaInt (.Collection.DocumentCount | int64) }}</span>
        </div>
    </td>
    <!-- End Email -->
    <!-- Email -->
    <td class="h-px w-px whitespace-nowrap">
        <div class="px-6 py-3">
            <span class="text-sm text-gray-500">{{ CommaInt (.Collection.EmbeddingDimensions | int64) }}</span>
        </div>
    </td>
    <!-- End Email -->

    <td class="h-px w-px whitespace-nowrap">
        <div class="px-6 py-3">
            <div class="flex items-center gap-x-3">
                {{ $percent := Percent .Collection.DocumentEmbeddedCount .Collection.DocumentCount }}
                {{ if .Collection.DocumentCollectionCounts }}
                {{ if eq .Collection.DocumentEmbeddedCount .Collection.DocumentCount }}
                {{ template "StatusReadyLabel" . }}
                {{ else }}
                <div class="flex w-full h-1.5 bg-gray-200 rounded-full overflow-hidden dark:bg-gray-700">
                    <div class="flex flex-col justify-center overflow-hidden bg-gray-800 dark:bg-gray-200"
                        role="progressbar" style="width:{{ $percent }}%;" aria-valuenow="{{ $percent }}"
                        aria-valuemin="0" aria-valuemax="100"></div>
                </div>
                {{ end }}
                {{ else }}
                <span class="text-xs text-gray-500">
                    Empty Collection
                </span>
                {{ end }}
            </div>
        </div>
    </td>

    <td class="h-px w-px whitespace-nowrap">
        <div class="px-6 py-3">
            {{ if .Collection.IsAutoEmbedded }}
            {{ template "IsAutoEmbeddedLabel" . }}
            {{ end }}
            {{ if .Collection.IsIndexed }}
            {{ template "IndexedLabel" . }}
            {{ end }}
        </div>
    </td>

    <td class="h-px w-px whitespace-nowrap">
        <div class="px-6 py-1.5">
            <a class="inline-flex items-center gap-x-1.5 text-sm text-blue-600 decoration-2 hover:underline font-medium dark:text-gray-200"
                href="{{ .Path }}/{{ .Collection.Name }}">
                View
            </a>
        </div>
    </td>
</tr>
{{ end }}

{{ define "CollectionsTable" }}
<div id="Collection-list-table" class="max-w-[85rem] px-4 py-10 sm:px-6 lg:px-8 lg:py-10 mx-auto">
    <!-- Card -->
    <div class="flex flex-col">
        <div class="-m-1.5 overflow-x-auto">
            <div class="p-1.5 min-w-full inline-block align-middle">
                <div
                    class="bg-white border border-gray-200 rounded-xl shadow-sm overflow-hidden dark:bg-slate-900 dark:border-gray-700">
                    <!--                    Header-->
                    <!-- {{ template "CollectionTableHeader" . }} -->
                    <!--                    End Header-->

                    {{ if eq (len .Data.Collections) 0 }}
                    {{ template "NoDataCard" . }}
                    {{ else }}
                    <!-- Table -->
                    <table class="min-w-full divide-y divide-gray-200 dark:divide-gray-700">
                        {{ template "CollectionTHead" . }}

                        <tbody class="divide-y divide-gray-200 dark:divide-gray-700">
                            {{ $path := .Path }}
                            {{ range .Data.Collections }}
                            {{ template "CollectionTableRow" dict "Collection" . "Path" $path }}
                            {{ end }}
                        </tbody>

                    </table>
                    <!-- End Table -->

                    <!-- Footer -->
                    {{ template "CursorPager" . }}
                    <!-- End Footer -->
                    {{ end }}
                </div>
            </div>
        </div>
    </div>
    <!-- End Card -->
</div>
<!-- End Table Section -->
{{ end }}