{{ define "SessionTHead" }}
<thead class="bg-gray-50 dark:bg-slate-800" hx-boost="true" hx-swap="innerHTML" hx-target="#page-content"
    hx-push-url="true">
    <tr>
        <!-- <th scope="col" class="pl-6 py-3 text-left">
        <label for="hs-at-with-checkboxes-main" class="flex">
            <input type="checkbox" x-model="checked" 
                   class="shrink-0 border-gray-200 rounded text-blue-600 pointer-events-none focus:ring-blue-500 dark:bg-gray-800 dark:border-gray-700 dark:checked:bg-blue-500 dark:checked:border-blue-500 dark:focus:ring-offset-gray-800"
                   id="hs-at-with-checkboxes-main">
            <span class="sr-only">Checkbox</span>
        </label>
    </th> -->

        {{ $tableState := dict "Path" .Path "OrderBy" .Data.OrderBy "Asc" .Data.Asc }} 
        {{ range .Data.Columns }}
            {{ if .Sortable }}
                {{ template "THSortable" dict "Table" $tableState "Column" . }}
            {{ else }}
                {{ template "TH" . }}
            {{ end }}
        {{ end }}

        <th scope="col" class="px-6 py-3 text-right"></th>
    </tr>
</thead>
{{ end }}

{{ define "SessionTableRow" }}
<tr hx-boost="true" hx-push-url="true" hx-target="#page-content">
    {{ $basePath := (split "?" .Path)._0 }}
    {{ $path := contains "/users/" $basePath | ternary (print $basePath "/session") $basePath }}
    <!-- Checkbox -->
    <!-- <td class="h-px w-px whitespace-nowrap">
        <div class="pl-6 py-3">
            <label for="checkbox-{{ .UUID }}" class="flex">
                <input type="checkbox"
                       class="shrink-0 border-gray-200 rounded text-blue-600 pointer-events-none focus:ring-blue-500 dark:bg-gray-800 dark:border-gray-700 dark:checked:bg-blue-500 dark:checked:border-blue-500 dark:focus:ring-offset-gray-800"
                       id="checkbox-{{ .UUID }}">
                <span class="sr-only">Checkbox</span>
            </label>
        </div>
    </td> -->
    <!-- End Checkbox -->
    <!-- SessionID  -->
    <td class="h-px w-px whitespace-nowrap">
        <div class="pl-6 lg:pl-6 xl:pl-6 pr-6 py-3">
            <div class="flex items-center gap-x-3">
                <div class="grow">
                    <a href="{{ $path }}/{{ .Session.SessionID }}">
                        <span class="block text-sm font-semibold text-gray-800 dark:text-gray-200">{{ .Session.SessionID
                            }}</span>
                    </a>
                </div>
            </div>
        </div>
    </td>
    <!-- End SessionID & Name -->
    <!-- Email -->
    <td class="h-px w-px whitespace-nowrap">
        <div class="px-6 py-3">
            <span class="text-sm text-gray-500">{{ empty .Session.UserID | ternary "" .Session.UserID }}</span>
        </div>
    </td>
    <!-- End Email -->
    <!-- CreatedAt -->
    <td class="h-px w-px whitespace-nowrap">
        <div class="px-6 py-3">
            <span class="text-sm text-gray-500">{{ .Session.CreatedAt.Format "2006-01-02 15:04:05" }}</span>
        </div>
    </td>
    <!-- End CreatedAt -->
    <td class="h-px w-px whitespace-nowrap">
        <div class="px-6 py-1.5">
            <a class="inline-flex items-center gap-x-1.5 text-sm text-blue-600 decoration-2 hover:underline font-medium dark:text-gray-200"
                href="{{ $path }}/{{ .Session.SessionID }}">
                View
            </a>
        </div>
    </td>
</tr>
{{ end }}



{{ define "SessionTable" }}
<div class="max-w-[85rem] px-4 py-3 sm:px-6 lg:px-8 lg:py-7 mx-auto">
    <!-- Card -->
    <div class="flex flex-col">
        <div class="-m-1.5 overflow-x-auto">
            <div class="p-1.5 min-w-full inline-block align-middle">
                <div id="{{ .Data.TableID }}"
                    class="bg-white border border-gray-200 rounded-xl shadow-sm overflow-hidden dark:bg-slate-900 dark:border-gray-700">
                    {{ if eq (len .Data.Rows) 0 }}
                    {{ template "NoDataCard" . }}
                    {{ else }}
                    <!-- Table -->
                    <table class="min-w-full divide-y divide-gray-200 dark:divide-gray-700">
                        {{ template "SessionTHead" . }}

                        <tbody class="divide-y divide-gray-200 dark:divide-gray-700">
                            {{ $path := .Path }}
                            {{ range $session := .Data.Rows }}
                                {{ template "SessionTableRow" dict "Path" $path "Session" $session }}
                            {{ end }}
                        </tbody>

                    </table>
                    <!-- End Table -->

                    <!-- Footer -->
                    {{ if gt .Data.TotalCount .Data.RowCount }}
                    {{ template "PageCountPager" . }}
                    {{ end }}
                    <!-- End Footer -->
                    {{ end }}
                </div>
            </div>
        </div>
    </div>
    <!-- End Card -->
</div>
<!-- End Table Section -->
{{ end }}