{{ define "UserDetailsForm" }}
<!-- Card Section -->
<div class="px-4 py-5 sm:px-6 lg:px-8 lg:py-7 mx-auto">
    <!-- Card -->
    <div class="bg-white rounded-xl shadow p-4 sm:p-7 dark:bg-slate-900">
        <form id="user-detail-form" action="{{ .Path }}" method="post" hx-boost="true" hx-target="#user-detail-form"
            hx-select="#user-detail-form" x-data="{ edit: false }" x-ref="{{ .Slug }}">
            <!-- Grid -->
            <div class="grid sm:grid-cols-12 gap-2 sm:gap-6">
                <div class="sm:col-span-3">
                    <label for="first_name" class="inline-block text-sm text-gray-800 mt-2.5 dark:text-gray-200">
                        Full name
                    </label>
                </div>
                <!-- End Col -->

                <div class="sm:col-span-9">
                    <div class="sm:flex">
                        <input id="first_name" name="first_name" type="text"
                            class="py-2 px-3 pr-11 block w-full border-gray-200 shadow-sm -mt-px -ml-px first:rounded-t-lg last:rounded-b-lg sm:first:rounded-l-lg sm:mt-0 sm:first:ml-0 sm:first:rounded-tr-none sm:last:rounded-bl-none sm:last:rounded-r-lg text-sm relative focus:z-10 focus:border-blue-500 focus:ring-blue-500 dark:bg-slate-900 dark:border-gray-700 dark:text-gray-400"
                            placeholder="First name" value="{{ .Data.FirstName }}" x-bind:disabled="!edit">
                        <input type="text" id="last_name" name="last_name"
                            class="py-2 px-3 pr-11 block w-full border-gray-200 shadow-sm -mt-px -ml-px first:rounded-t-lg last:rounded-b-lg sm:first:rounded-l-lg sm:mt-0 sm:first:ml-0 sm:first:rounded-tr-none sm:last:rounded-bl-none sm:last:rounded-r-lg text-sm relative focus:z-10 focus:border-blue-500 focus:ring-blue-500 dark:bg-slate-900 dark:border-gray-700 dark:text-gray-400"
                            placeholder="Last name" value="{{ .Data.LastName }}" x-bind:disabled="!edit">
                    </div>
                </div>
                <!-- End Col -->

                <div class="sm:col-span-3">
                    <label for="email" class="inline-block text-sm text-gray-800 mt-2.5 dark:text-gray-200">
                        Email
                    </label>
                </div>
                <!-- End Col -->

                <div class="sm:col-span-9">
                    <input id="email" type="email" name="email"
                        class="py-2 px-3 pr-11 block w-full  invalid:bg-red-100 border-gray-200 shadow-sm text-sm rounded-lg focus:border-blue-500 focus:ring-blue-500 dark:bg-slate-900 dark:border-gray-700 dark:text-gray-400"
                        placeholder="name@domain.com" value="{{ .Data.Email }}" x-bind:disabled="!edit">
                </div>
                <!-- End Col -->


                <div class="sm:col-span-3">
                    <label for="metadata" class="inline-block text-sm text-gray-800 mt-2.5 dark:text-gray-200">
                        Metadata
                    </label>
                </div>
                <!-- End Col -->

                <div class="sm:col-span-9">
                    <div id="metadata"
                        class="py-2 px-3 w-full shadow-sm text-xs rounded-lg bg-gray-50 dark:bg-slate-900 dark:border-gray-700 dark:text-gray-400">
                        {{ empty .Data.Metadata | ternary "No metadata" (ToJSON .Data.Metadata) }}
                    </div>
                </div>
                <!-- End Col -->
            </div>
            <!-- End Grid -->

            <div class="mt-5 flex justify-end gap-x-2">
                <button type="button" @click="edit = !edit" x-bind:class="edit ? 'cursor-not-allowed opacity-50' : ''"
                    class="py-3 px-4 inline-flex justify-center items-center gap-2 rounded-md border border-transparent font-semibold text-blue-500 hover:text-blue-700 focus:outline-none focus:ring-2 ring-offset-white focus:ring-blue-500 focus:ring-offset-2 transition-all text-sm">
                    Edit
                </button>
                <button type="reset" x-bind:disabled="!edit" @click="edit = !edit; $refs.{{ .Slug }}.reset()"
                    x-bind:class="!edit ? 'cursor-not-allowed opacity-50' : ''"
                    class="py-2 px-3 inline-flex justify-center items-center gap-2 rounded-md border font-medium bg-white text-gray-700 shadow-sm align-middle hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-offset-white focus:ring-blue-600 transition-all text-sm dark:bg-slate-900 dark:hover:bg-slate-800 dark:border-gray-700 dark:text-gray-400 dark:hover:text-white dark:focus:ring-offset-gray-800">
                    Cancel
                </button>
                <button type="submit" x-bind:disabled="!edit"
                    x-bind:class="!edit ? 'cursor-not-allowed opacity-50' : ''"
                    class="py-2 px-3 inline-flex justify-center items-center gap-2 rounded-md border border-transparent font-semibold bg-blue-500 text-white hover:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-offset-2 transition-all text-sm dark:focus:ring-offset-gray-800">
                    Save
                </button>
            </div>
        </form>
    </div>
    <!-- End Card -->
</div>
<!-- End Card Section -->
{{ end }}