{{ define "UserTableHeader" }}
<div
    class="px-6 py-4 grid gap-3 md:flex md:justify-between md:items-center border-b border-gray-200 dark:border-gray-700">
    <div>
        <div class="inline-flex gap-x-2">
            <a class="py-2 px-3 inline-flex justify-center items-center gap-2 rounded-md bg-red-100 border border-transparent font-semibold text-red-500 hover:text-white hover:bg-red-500 focus:outline-none focus:ring-2 ring-offset-white focus:ring-red-500 focus:ring-offset-2 transition-all text-sm dark:focus:ring-offset-gray-800"
                href="#">
                Delete
            </a>

            <!-- <a class="py-2 px-3 inline-flex justify-center items-center gap-2 rounded-md border border-transparent font-semibold bg-blue-500 text-white hover:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-offset-2 transition-all text-sm dark:focus:ring-offset-gray-800"
               href="#">
                <svg class="w-3 h-3" xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16"
                     fill="none">
                    <path d="M2.63452 7.50001L13.6345 7.5M8.13452 13V2" stroke="currentColor" stroke-width="2"
                          stroke-linecap="round"/>
                </svg>
                Add user
            </a> -->
        </div>
    </div>
</div>
{{end}}

{{ define "UserTHead" }}
<thead class="bg-gray-50 dark:bg-slate-800">
    <tr>
        <!-- <th scope="col" class="pl-6 py-3 text-left">
            <label for="hs-at-with-checkboxes-main" class="flex">
                <input type="checkbox"
                    class="shrink-0 border-gray-200 rounded text-blue-600 pointer-events-none focus:ring-blue-500 dark:bg-gray-800 dark:border-gray-700 dark:checked:bg-blue-500 dark:checked:border-blue-500 dark:focus:ring-offset-gray-800"
                    id="hs-at-with-checkboxes-main">
                <span class="sr-only">Checkbox</span>
            </label>
        </th> -->

        {{ $tableState := dict "Path" .Path "OrderBy" .Data.OrderBy "Asc" .Data.Asc }} 
        {{ range .Data.Columns }}
            {{ if .Sortable }}
                {{ template "THSortable" dict "Table" $tableState "Column" . }}
            {{ else }}
                {{ template "TH" . }}
            {{ end }}
        {{ end }}


        <th scope="col" class="px-6 py-3 text-right"></th>
    </tr>
</thead>
{{ end }}

{{ define "UserTableRow" }}
<tr hx-boost="true" hx-target="#page-content">
    <!-- Checkbox -->
    <!-- <td class="h-px w-px whitespace-nowrap">
        <div class="pl-6 py-3">
            <label for="checkbox-{{ .UserID }}" class="flex">
                <input type="checkbox"
                    class="shrink-0 border-gray-200 rounded text-blue-600 pointer-events-none focus:ring-blue-500 dark:bg-gray-800 dark:border-gray-700 dark:checked:bg-blue-500 dark:checked:border-blue-500 dark:focus:ring-offset-gray-800"
                    id="checkbox-{{ .UUID }}">
                <span class="sr-only">Checkbox</span>
            </label>
        </div>
    </td> -->
    <!-- End Checkbox -->
    <!-- UserID & Name -->
    <td class="h-px w-px whitespace-nowrap">
        <div class="pl-6 lg:pl-6 xl:pl-6 pr-6 py-3">
            <div class="flex items-center gap-x-3">
                <a href="/admin/users/{{ .UserID }}">
                    <div class="grow">
                        <span class="block text-sm font-semibold text-gray-800 dark:text-gray-200">{{ .UserID }}</span>
                        <span class="block text-sm text-gray-500">{{ .FirstName }} {{ .LastName }}</span>
                    </div>
                </a>
            </div>
        </div>
    </td>
    <!-- End UserID & Name -->
    <!-- Email -->
    <td class="h-px w-px whitespace-nowrap">
        <div class="px-6 py-3">
            <span class="text-sm text-gray-500">{{ .Email }}</span>
        </div>
    </td>
    <!-- End Email -->
        <!-- Sessions -->
        <td class="h-px w-px whitespace-nowrap">
            <div class="px-6 py-3">
                <span class="text-sm text-gray-500">{{ .SessionCount }}</span>
            </div>
        </td>
        <!-- End Sessions -->
    <!-- CreatedAt -->
    <td class="h-px w-px whitespace-nowrap">
        <div class="px-6 py-3">
            <span class="text-sm text-gray-500">{{ .CreatedAt.Format "2006-01-02 15:04:05" }}</span>
        </div>
    </td>
    <!-- End CreatedAt -->


    <td class="h-px w-px whitespace-nowrap">
        <div class="px-6 py-1.5">
            <a class="inline-flex items-center gap-x-1.5 text-sm text-blue-600 decoration-2 hover:underline font-medium  dark:text-gray-200"
                href="/admin/users/{{ .UserID }}">
                View
            </a>
        </div>
    </td>
</tr>
{{ end }}

{{ define "UserTable" }}
<div id="user-list-table" class="max-w-[85rem] px-4 py-3 sm:px-6 lg:px-8 lg:py-7 mx-auto">
    <!-- Card -->
    <div class="flex flex-col">
        <div class="-m-1.5 overflow-x-auto">
            <div class="p-1.5 min-w-full inline-block align-middle">
                <div id="{{ .Data.TableID }}"
                    class="bg-white border border-gray-200 rounded-xl shadow-sm overflow-hidden dark:bg-slate-900 dark:border-gray-700">


                    {{ if eq (len .Data.Rows) 0 }}
                    {{ template "NoDataCard" . }}
                    {{ else }}
                    <!-- Table -->
                    <table class="min-w-full divide-y divide-gray-200 dark:divide-gray-700">
                        {{ template "UserTHead" . }}

                        <tbody class="divide-y divide-gray-200 dark:divide-gray-700">
                            {{ range .Data.Rows }}
                            {{ template "UserTableRow" . }}
                            {{ end }}
                        </tbody>

                    </table>
                    <!-- End Table -->

                    <!-- Footer -->
                    {{ if gt .Data.TotalCount .Data.RowCount }}
                    {{ template "PageCountPager" . }}
                    {{ end }}
                    <!-- End Footer -->
                    {{ end }}
                </div>
            </div>
        </div>
    </div>
    <!-- End Card -->
</div>
<!-- End Table Section -->
{{ end }}