{{ define "CursorPager" }}
{{ if gt .Data.Limit 0 }}
<div
    class="px-6 py-4 grid gap-3 md:flex md:justify-between md:items-center border-t border-gray-200 dark:border-gray-700">
    {{ if .Data.TotalCount }}
    {{ $listMax := sub (add .Data.Cursor .Data.RowCount) 1 }}
    <div>
        <div>
            <p class="text-sm text-gray-600 dark:text-gray-400">
                <span class="font-semibold text-gray-800 dark:text-gray-200">
                    {{ .Data.Cursor }}
                </span>
                to
                <span class="font-semibold text-gray-800 dark:text-gray-200">
                    {{ $listMax }}
                </span> of
                <span class="font-semibold text-gray-800 dark:text-gray-200">
                    {{ .Data.TotalCount }}
                </span>
                results
            </p>
        </div>
    </div>
    {{ end }}
    <div>
        {{ $pagerPath := print .Path "?cursor=" }}
        {{ $nextPath := print $pagerPath (add .Data.Cursor .Data.Limit) }}
        {{ $prevPath := print $pagerPath (sub .Data.Cursor .Data.Limit) }}
        {{ $nextDisabled := and .Data.RowCount (gt .Data.Limit .Data.RowCount) }}
        {{ $prevDisabled := eq .Data.Cursor 0 }}
        <div class="inline-flex gap-x-2" hx-swap="innerHTML" hx-target="#page-content" hx-push-url="true">
            <button type="button" {{ if $prevDisabled }} disabled {{ end }} hx-get="{{ $prevPath }}"
                class="{{ if $prevDisabled }}cursor-not-allowed{{ end }} py-2 px-3 inline-flex justify-center items-center gap-2 rounded-md border font-medium bg-white text-gray-700 shadow-sm align-middle hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-offset-white focus:ring-blue-600 transition-all text-sm dark:bg-slate-900 dark:hover:bg-slate-800 dark:border-gray-700 dark:text-gray-400 dark:hover:text-white dark:focus:ring-offset-gray-800">
                <svg class="w-3 h-3" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                    viewBox="0 0 16 16">
                    <path fill-rule="evenodd"
                        d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z" />
                </svg>
                Prev
            </button>

            <button type="button" {{ if $nextDisabled }} disabled {{ end }} hx-get="{{ $nextPath }}"
                class="{{ if $nextDisabled }}cursor-not-allowed{{ end }} py-2 px-3 inline-flex justify-center items-center gap-2 rounded-md border font-medium bg-white text-gray-700 shadow-sm align-middle hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-offset-white focus:ring-blue-600 transition-all text-sm dark:bg-slate-900 dark:hover:bg-slate-800 dark:border-gray-700 dark:text-gray-400 dark:hover:text-white dark:focus:ring-offset-gray-800">
                Next
                <svg class="w-3 h-3" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                    viewBox="0 0 16 16">
                    <path fill-rule="evenodd"
                        d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z" />
                </svg>
            </button>
        </div>
    </div>
</div>
{{ end }}
{{ end }}


{{ define "PageCountPager" }}
<div
    class="px-6 py-4 grid gap-3 md:flex md:justify-between md:items-center border-t border-gray-200 dark:border-gray-700">
    {{ if .Data.TotalCount }}
    <div class="text-sm text-gray-600 dark:text-gray-400">
        <p>
            Page
            <span class="font-semibold text-gray-800 dark:text-gray-200">
                {{ .Data.CurrentPage }}
            </span>
            of
            <span class="font-semibold text-gray-800 dark:text-gray-200">
                {{ .Data.PageCount }}
            </span>
        </p>
        <p class="mt-1">
            <span class="font-semibold text-gray-800 dark:text-gray-200">
                {{ .Data.TotalCount }}
            </span>
            results
        </p>
    </div>
    {{ end }}
    {{ if gt .Data.TotalCount .Data.PageSize }}
    <div>
        {{ $pagerPath := print .Path "&page=" }}
        {{ $nextPath := print $pagerPath (add1 (.Data.CurrentPage | int64)) }}
        {{ $prevPath := print $pagerPath (sub (.Data.CurrentPage | int64) 1) }}
        {{ $nextDisabled := eq .Data.CurrentPage .Data.PageCount }}
        {{ $prevDisabled := eq .Data.CurrentPage 1 }}
        <div class="inline-flex gap-x-2" hx-swap="innerHTML" hx-target="#{{ .Data.TableID }}" hx-select="#{{ .Data.TableID }}" hx-push-url="true">
            <button type="button" {{ if $prevDisabled }} disabled {{ end }} hx-get="{{ $prevPath }}"
                class="{{ if $prevDisabled }}cursor-not-allowed{{ end }} py-2 px-3 inline-flex justify-center items-center gap-2 rounded-md border font-medium bg-white text-gray-700 shadow-sm align-middle hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-offset-white focus:ring-blue-600 transition-all text-sm dark:bg-slate-900 dark:hover:bg-slate-800 dark:border-gray-700 dark:text-gray-400 dark:hover:text-white dark:focus:ring-offset-gray-800">
                <svg class="w-3 h-3" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                    viewBox="0 0 16 16">
                    <path fill-rule="evenodd"
                        d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z" />
                </svg>
                Prev
            </button>

            <button type="button" {{ if $nextDisabled }} disabled {{ end }} hx-get="{{ $nextPath }}"
                class="{{ if $nextDisabled }}cursor-not-allowed{{ end }} py-2 px-3 inline-flex justify-center items-center gap-2 rounded-md border font-medium bg-white text-gray-700 shadow-sm align-middle hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-offset-white focus:ring-blue-600 transition-all text-sm dark:bg-slate-900 dark:hover:bg-slate-800 dark:border-gray-700 dark:text-gray-400 dark:hover:text-white dark:focus:ring-offset-gray-800">
                Next
                <svg class="w-3 h-3" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                    viewBox="0 0 16 16">
                    <path fill-rule="evenodd"
                        d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z" />
                </svg>
            </button>
        </div>
    </div>
    {{ end }}
</div>
{{ end }}