{{ define "THSortable" }}
{{ $basePath := (split "?" .Table.Path)._0 }}
{{ $asc := true }}
{{ if eq .Column.OrderByKey .Table.OrderBy }}
{{ if (contains "asc=true" .Table.Path) }}
{{ $asc = false }}
{{ end }}
{{ end }}
<th scope="col" class="pl-6 lg:pl-6 xl:pl-6 pr-6 py-3 text-left">
    <div class="flex items-center gap-x-2">
        <a class="group inline-flex items-center gap-x-2"
            href="{{ $basePath }}?order={{ .Column.OrderByKey }}&asc={{ $asc }}">
            <span class="text-xs font-semibold uppercase tracking-wide text-gray-800 dark:text-gray-200">
                {{ .Column.Name }}
            </span>
            <div
                class="flex justify-center items-center w-5 h-5 border border-gray-200 group-hover:bg-gray-200 text-gray-400 rounded dark:border-gray-700 dark:group-hover:bg-gray-700 dark:text-gray-400">
                <svg class="w-2.5 h-2.5" width="16" height="16" viewBox="0 0 16 16" fill="none"
                    xmlns="http://www.w3.org/2000/svg">
                    <path
                        d="M7.55921 0.287451C7.86808 -0.0958171 8.40096 -0.0958167 8.70982 0.287451L12.9295 5.52367C13.3857 6.08979 13.031 7 12.3542 7H3.91488C3.23806 7 2.88336 6.08979 3.33957 5.52367L7.55921 0.287451Z"
                        fill="currentColor" />
                    <path
                        d="M8.70983 15.7125C8.40096 16.0958 7.86808 16.0958 7.55921 15.7125L3.33957 10.4763C2.88336 9.9102 3.23806 9 3.91488 9H12.3542C13.031 9 13.3857 9.9102 12.9295 10.4763L8.70983 15.7125Z"
                        fill="currentColor" />
                </svg>
            </div>
        </a>
    </div>
</th>
{{ end }}

{{ define "TH" }}
<th scope="col" class="pl-6 lg:pl-6 xl:pl-6 pr-6 py-3 text-left">
    <div class="flex items-center gap-x-2">
        <span class="text-xs font-semibold uppercase tracking-wide text-gray-800 dark:text-gray-200">
            {{ .Name }}
        </span>
    </div>
</th>
{{ end }}