name: Docs Pages Deploy 
on:
  workflow_dispatch:
  
permissions:
  contents: write
jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          repository: 'getzep/docs'
          ref: 'main'
      - uses: actions/setup-python@v4
        with:
          python-version: 3.10
      - run: echo "cache_id=$(date --utc '+%V')" >> $GITHUB_ENV 
      - uses: actions/cache@v3
        with:
          key: mkdocs-material-${{ env.cache_id }}
          path: .cache
          restore-keys: |
            mkdocs-material-
      - run: pip install "mkdocs-material==9.1.12"
      - run: mkdocs gh-deploy --force
